.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 4em;
    margin: 0 16em;
    padding: 1em 0;

    &-navbar {
        &__logo {
            grid-column: 1/3;
        }
    
        &__items {
            grid-column: 5/9;
        }
    
        &__button {
            grid-column: 11/13;
        }
    }
}