@media (max-width:1200px) {
    .grid {
        margin: 0 8em;

        &-navbar {
            &__items {
                grid-column: 4/10;
            }
        }
    }
}

@media (max-width:1000px) {
    .grid {
        margin: 0 4em;

        &-navbar {
            &__items {
                grid-column: 3/11;
            }
        }
    }
}

@media (max-width:850px) {
    .grid {
        grid-gap: 1em;

        &-navbar {
            &__logo {
                grid-column: 1/13;
            }
        
            &__items {
                grid-column: 1/13;
            }
        
            &__button {
                grid-column: 1/13;
            }
        }
    }
}

@media (max-width:500px) {
    .grid {
        grid-gap: 0.5em;
        margin: 0;

        &__items {
            grid-column: 1/13;
        }
    }
}