@media (max-width:1700px) {
    .l-navbar {
        &__items {
            grid-column: 4/10;
        }
    }
}

@media (max-width:1300px) {
    .u-margin {
        &--sides {
            margin: 0em 10em;
        }
    }
}

@media (max-width:1100px) {
    .u-margin {
        &--sides {
            margin: 0em 4em;
        }
    }
}

@media (max-width:800px) {
    .l-navbar {
        &__logo {
            justify-self: center;
            align-items: flex-end;
            grid-column: 1/13;
        }
    
        &__items {
            justify-content: space-evenly;
            align-items: center;
            grid-column: 1/13;
        }
    
        &__button {
            justify-self: center;
            align-self: center;
            grid-column: 1/13;
        }
    }

    .u-margin {
        &--sides {
            margin: 0em;
        }
    }
}