@media (max-width:1200px) {
    .grid-layout {
        margin: 0 8em;
    }

    .navbar-layout {
        &__items {
            grid-column: 4/10;
        }
    }

    .margin {
        &--extremes {
            margin-top: 3em;
            margin-bottom: 3em;
        }
    
        &--content {
            margin: 1em 0;
        }
    }
}

@media (max-width:1000px) {
    .grid-layout {
        margin: 0 4em;
    }

    .navbar-layout {
        &__items {
            grid-column: 3/11;
        }
    }

    .article-layout {
        &__content {
            grid-column: 1/13;
        }
    
        &__image {
            grid-column: 3/11;
            align-self: center;
        }
    }
}

@media (max-width:850px) {
    .grid-layout {
        grid-gap: 1em;
    }

    .navbar-layout {
        &__logo {
            justify-content: center;
            grid-column: 1/13;
        }
    
        &__items {
            grid-column: 1/13;
        }
    
        &__button {
            justify-content: center;
            grid-column: 1/13;
        }
    }

    .article {
        &__text {
            font-size: 3rem;
        }
    }
}

@media (max-width:500px) {
    .grid-layout {
        grid-gap: 0.5em;
        margin: 0 2em;
    }

    .article {
        &__text {
            font-size: 2rem;
        }
    }
}