@import '../base/variables';

.navbar {
  background-color: var(--main-background-color);
  width: 100%;
  box-shadow: -67.96667px 67.96667px 67.96667px 0px rgba(255, 255, 255, 0.01) inset, 67.96667px -67.96667px 67.96667px 0px rgba(194, 194, 194, 0.01) inset, 6px 8px 200px -16px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(80.20066833496094px);

  &__logo {
    &__image {
      height: 1.8em;
    }

    &__text {
      font-size: 1.5rem;
    }
  }

  &__item {
    margin: 0 0.5em;

    &:hover{
      color: white;
      transition: 0.3s ease-out;
    }
  }
}