@import '../base/variables';

.background {
    //background: radial-gradient(50% 50% at 50% 50%, #213454 0%, #0d1728 100%);
    background: radial-gradient(50% 50% at 50% 50%, #213557 0%, #0a111e 100%);
    height: 100vh;
}

.navbar {
    //border-bottom: 0.25px solid white;
    background-color: var(--main-background-color);
    box-shadow: -67.96667px 67.96667px 67.96667px 0px rgba(255, 255, 255, 0.01) inset, 67.96667px -67.96667px 67.96667px 0px rgba(194, 194, 194, 0.01) inset, 6px 8px 200px -16px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(80.20066833496094px);

    &__logo {
      height: 2.5em;

      &--font {
        margin-left: 1em;
        font-size: 1.5rem;
      }
    }
}

.font {
  &--regular {
    font-weight: 400;
    color: var(--gray-color);

    &--active {
      color: white;
    }
  }

  &--bold {
    font-weight: 700;
    color: white
  }

  &--extra-bold {
    font-weight: 900;
    color: white
  }
}