.font {
    &--regular {
        font-weight: 400;
        color: var(--gray-color);
    }

    &--bold {
        font-weight: 700;
        color: white
    }

    &--extra-bold {
        font-weight: 900;
        color: white
    }

    &--active {
        color: white;
    }
}

.nowrap-text {
    white-space: nowrap;
}

.margin {
    &--sides {
        margin: 0.5em 16em;
    }

    &--main-article {
        margin-top: 10em;
    }

    &--content {
        margin: 1em 0;
    }
}

.flexbox-vertical {
    flex-direction: column;
}

@media (max-width:1200px) {
    .margin {
        &--sides {
            margin: 0.5em 8em;
        }
    }
}

@media (max-width:1000px) {
    .margin {
        &--sides {
            margin: 0.5em 4em;
        }
    }
}