.font {
    &--regular {
        font-weight: 400;
        color: var(--gray-color);
    }

    &--bold {
        font-weight: 700;
        color: white
    }

    &--extra-bold {
        font-weight: 900;
        color: white
    }

    &--active {
        color: white;
    }
}

.nowrap-text {
    white-space: nowrap;
}

.margin {
    &--navbar {
        margin: 0.5em 0;
    }

    &--extremes {
        margin-top: 12em;
        margin-bottom: 12em;
    }

    &--content {
        margin: 1em 0;
    }
}

.flexbox-vertical {
    flex-direction: column;
}