@import '../base/variables';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--main-font);
}

html {
    scroll-behavior: smooth;
}

body{
    background: radial-gradient(50% 50% at 50% 50%, #213557 40%, #0A111E 120%);
    background-repeat: repeat-y;
    background-size: cover;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}