@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@700&display=swap');

$main-font: 'Anybody';
$main-color: #0A111E;
$secondary-color: #213557;
$card-color: #1E2746;
$card-camera-color: #293241;
$dark-gray-color: #7F848D;
$light-gray-color: #D4D6D9;


:root {
    --main-font: #{$main-font};
    --main-background-color: #{$main-color};
    --secondary-background-color: #{$secondary-color};
    --card-color: #{$card-color};
    --card-camera-color: #{$card-camera-color};
    --dark-gray-color: #{$dark-gray-color};
    --light-gray-color: #{$light-gray-color};
}